@import '../global.scss';

.intro {
    background-color: #fff;
    display: flex;

    @include tablet {
        flex-direction: column;
        align-items: center;
    }

    .left{
        flex: 1;
        overflow: hidden;
        
        
        .imgContainer {
            width: 680px;
            height: 680px;
            border-radius: 50%;
            background-color: crimson;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: right;

            @include tablet {
                align-items: flex-start;
            }

            img {
                width: 100%;

                @include tablet {
                    height: 80%;
                    width: 80%;
                }
            }
        }
    }

    .right{
        flex: 1;
        position: relative;

        .wrapper {
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include tablet {
                padding-left: 0;
                align-items: center;
            }

            h1 {
                font-size: 60px;
                margin: 10px 0;

                @include tablet {
                    font-size: 40px;
                }
            }
            
            h2 {
                font-size: 35px;
            }

            h3 {
                font-size: 30px;

                @include tablet {
                    font-size: 20px;
                }

                span {
                    font-size: inherit;
                    color: crimson;
                }

                .ityped-cursor {
                    animation: blink 1s infinite;
                }

                @keyframes blink {
                    50% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
            }
        }

        .downBtn {
            position: absolute;
            bottom: 10px;
            left: 40%;
            color: gray;

            svg {
                animation: arrowBlink 2s infinite;
            }

            @keyframes arrowBlink {
                to {
                    opacity: 0;
                }
            }
        }
    }
}