@import '../global.scss';

.menu {
    width: 300px;
    height: 100vh;
    background-color: $mainColor;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 5;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all 1s ease;
    
    &.active {
        right: 0;
    }
    
    ul {
        list-style: none;
        color: #fff;
        font-size: 20px;
        font-weight: 300;
        width: 60%;
        
        
        li {
            margin-bottom: 10px;
            text-align: center;

            a {
                text-decoration: none;
                color: inherit;
                font-size: inherit;
            }

            &:hover {
                font-weight: 600;
            }
        }
    }
}