@import '../global.scss';

.works {
    background-color: $mainColor;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .arrow {
        position: absolute;
        cursor: pointer;

        @include tablet {
            display: none;
        }

        &.left {
            left: 100px;
        }

        &.right {
            right: 100px;
        }
    }

    .slider {
        height: 350px;
        position: absolute;
        left: 0;
        display: flex;
        transition: all 1s ease-out;

        @include tablet {
            height: 100vh;
            flex-direction: column;
            justify-content: center;
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100vw;


            .item {
                width: 700px;
                height: 100%;
                background-color: #fff;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                @include tablet {
                    width: 80%;
                    height: 150px;
                    margin: 15px 0;
                }

                .left {
                    flex: 4;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .leftContainer {
                        width: 90%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        @include tablet {
                            width: 100%;
                            height: 100%;
                        }

                        .iconContainer {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: $secondaryColor;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            @include tablet {
                                width: 30px;
                                height: 30px;
                            }

                            img {
                                width: 25px;
                                height: 25px;
                            }
                        }

                        h2 {
                            font-size: 20px;

                            @include tablet {
                                font-size: 14px;
                            }
                        }

                        p {
                            font-size: 14px;

                            @include tablet {
                                display: none;
                            }
                        }

                        span {
                            font-size: 12px;
                            font-weight: 600;
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }

                .right {
                    flex: 8;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;

                    img {
                        width: 400px;
                        transform: rotate(-10deg);

                        @include tablet {
                            transform: none;
                        }
                    }
                }
            }
        }
    }

}